<script>
import {GlDuoChat} from '@gitlab/ui'

const APP_READY_EVENT_TYPE = "appReady"

const i18n = {
  predefinedPrompts: [
    'How do I change my password in GitLab?',
    'How do I fork a project?',
    'How do I clone a repository?',
    'How do I create a template?',
  ]
};

const slashCommands = [
    {
      name: '/reset',
      description: 'Reset conversation and ignore the previous messages.',
      shouldSubmit: true,
    },
    {
      name: '/tests',
      description: 'Write tests for the selected snippet.',
    },
    {
      name: '/refactor',
      description: 'Refactor the selected snippet.',
    },
    {
      name: '/explain',
      description: 'Explain the selected snippet.',
    },
    {
      name: '/clear',
      description: 'Delete all messages in this conversation.',
    }
  ]

export default {
  name: 'GitLabDuoChat',
  i18n,
  slashCommands,
  components: {
    GlDuoChat,
  },
  provide() {
    return {
      renderMarkdown: content => content,
      renderGFM: element => {
        element.classList.add('gl-markdown', 'gl-compact-markdown');
      },
    };
  },
  props: {
    webView: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chatMessages: [],
      promptDraft: null
    };
  },
  computed: {
    isLoading() {
      return this.chatMessages.findIndex(message => message.state === 'pending') >= 0;
    },
    messages() {
      return this.chatMessages.filter(message => message.state !== 'pending');
    },
  },
  created() {
    this.webView.addMessageListener(this.handleExtensionMessageEvent)
    this.webView.postMessage({eventType: APP_READY_EVENT_TYPE})
  },
  onBeforeDestroy() {
    this.webView.removeMessageListener(this.handleExtensionMessageEvent)
  },
  methods: {
    handleExtensionMessageEvent(event) {
      const message = JSON.parse(event);
      switch (message['eventType']) {
        case 'focus': {
          break;
        }
        case 'newRecord': {
          this.newRecord(message.record);
          break;
        }
        case 'updateRecord': {
          this.updateRecord(message.record);
          break;
        }
        case 'clear': {
          this.chatMessages = []
          break;
        }
        default:
          console.log(message)
          console.warn('Chat view received unexpected message type.');
          break;
      }
    },
    newRecord(record) {
      this.chatMessages.push(record);
      this.scrollBottom();
    },
    updateRecord(record) {
      const index = this.chatMessages.findIndex(r => r.id === record.id);
      this.chatMessages.splice(index, 1, record);
      this.scrollBottom();
    },
    scrollBottom() {
      setTimeout(() => {
        window.scrollTo(0, document.body.scrollHeight);
      }, 20); // TODO: replace this hack with proper CSS.
    },
    onSendChatPrompt(question) {
      this.webView.postMessage({
        eventType: 'newPrompt',
        content: question
      });
    },
    onTrackFeedback({extendedTextFeedback, feedbackChoices} = {}) {
      this.webView.postMessage({
        eventType: 'trackFeedback',
        content: "track feedback",
        data: {
          extendedTextFeedback,
          feedbackChoices,
        },
      });
    },
  },
};
</script>

<template>
  <gl-duo-chat
    :messages="messages"
    error=""
    :is-loading="isLoading"
    :predefined-prompts="$options.i18n.predefinedPrompts"
    :slash-commands="$options.slashCommands"
    @send-chat-prompt="onSendChatPrompt"
    @track-feedback="onTrackFeedback"
  />
</template>

<style scoped lang="scss">
</style>
